

  <div class="row row-cols1 row-cols-sm2 row-cols-md-3 g-3">
    <div class="col" *ngFor="let person of personDatas">
      <div class="card shadow-sm">
        <img src="{{ person.picture }}" alt="{{ person.name }}">

        <div class="card-body">
          <p> <b>{{ person.name  }}</b> </p>
          <p> {{ person.address }} </p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
              <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
            </div>
          </div>
        </div>
    </div>
  </div>

